body{
    height:auto;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;             
    margin: 0;
    display: flex;  
    flex-direction: column;          
    justify-content: center;    
    align-items: center;       
    background-color: #f0f0f0; 
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    color: #333333;
}

.number {
    font-size: 1.2em;
    color: #555555;
    margin: 5px 0;
    text-align: center;
    margin: 0 auto;
    font-weight: bolder;
    font-size: xx-large;
}

.dzikir-container {
    width: 80vw;
    max-width: 340px;
    margin:  0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px 10px 0 10px;
    border: 3px solid #cfcaca;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

input {
    margin: 1em 1em;
    font-size: 1rem;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 280px;
    box-sizing: border-box;
    text-align: center;
}

.toast {
    visibility: hidden;
    min-width: 200px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 12px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: visibility 0.3s, opacity 0.3s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

#incrementBtnEl { 
    font-size: 5rem; 
    border-radius: 8px; 
    width: 100%; 
    max-width: 280px; 
    
}

.incrementBtn:active {
    transform: scale(0.996);

}

.childBtn { 
    padding: 12px 24px; 
    font-size: 1rem; 
    border-radius: 8px; 
    width: 100%; 
    max-width: 280px; 
}

details {
    width: 90% ;
    max-width: 340px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    padding: 8px 12px;
    background: #ecf0f1;
} 

summary { 
    cursor: pointer;
    font-weight: 600;
    list-style: none;
    color: #2c3e50;
}

summary::marker {
     content: ""; 
}
summary::after { 
    content: "▾";
    float: right;
    transition: transform 0.2s ease;
} 

details[open] summary::after { 
     transform: rotate(180deg);
} 

#dzikirContainer {
    overflow: hidden;
     scrollbar-width: none;
    margin-top: 20px;
    border: 2px solid #ccc;
    width: 100%;
    display: flex;
    gap: 10px;
    overflow-x: auto; 
    border-radius: 20px;
    scroll-snap-type: row reverse;
    scroll-snap-align: end; 
}

.cards {
    border-radius: 15px;
    display: flex;
    word-wrap: break-word;
    gap: 20px;
    width: min-content;
    height: 100%;
    background: lightblue;
    text-align: center;
    padding: 10px;
    scroll-snap-align: start;
}
/* bikin animasi getar */
@keyframes shake {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-5px, 0); }
  40% { transform: translate(5px, 0); }
  60% { transform: translate(-5px, 0); }
  80% { transform: translate(5px, 0); }
  100% { transform: translate(0, 0); }
}

/* pakai di elemen */
.shake {
  display: inline-block;
  animation: shake 0.2s;
  border: 1px solid red;
  background-color: rgba(255, 163, 163, 0.295);
  animation-iteration-count: infinite; 
  animation-iteration-count: 3;
}
