body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
h1 {
    width: 70vw;
    color: #333333;
}
.number {
    font-size: 1.2em;
    color: #555555;
    margin: 5px 0;
    text-align: center;
    margin: 0 auto;
    font-weight: bolder;
    font-size: xx-large;
}
.dzikir-container {
    width: 80vw;
    padding: 1px 12px;
    max-width: 340px;
    margin: 10px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0 10px;
    border: 3px solid #ddd;
    border-radius: 8px;
}
.incrementBtn {
    margin-top: 50px;
    padding: 10px 20px;
    max-width: 300px;
    width: 21em;
    font-size: larger;
    text-align: center;
    padding: 2em;
    border-radius: 8px;
}
.childBtn {
    flex: 1 1 40%;
    margin: 5px;
    padding: 0.2em;
    font-size: 1.2em;
}
details {
    width: 80vw ;
    max-width: 340px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px 12px;
    background: #fafafa;
    display: block;
    text-align: center;
    margin: auto auto;
} 
summary { 
    cursor: pointer;
    font-weight: 600;
    list-style: none;
/* hilangkan marker default */ 
}
/* ganti marker default dengan ikon custom */
summary::marker {
     content: ""; 
}
summary::after { 
    content: "▾";
    float: right;
    transition: transform 0.2s ease;
} 
details[open] summary::after { 
    transform: rotate(180deg);
} 
.content {  
    color: #333;
    line-height: 1.6;
}
#bottom{
    margin-bottom: 50px;
}